
/*=============================================================
    Authour URL: www.designbootstrap.com

    http://www.designbootstrap.com/

    License: MIT

    http://opensource.org/licenses/MIT

    100% Free To use For Personal And Commercial Use.

    IN EXCHANGE JUST TELL PEOPLE ABOUT THIS WEBSITE
   
========================================================  */



/*================================
    GENERAL STYLES
==================================*/
body {
    font-family: 'Avenir Next';
    width: 100%;
}

section {
    padding-top: 80px;
    padding-bottom: 80px;
}

.head-set {
    padding-top: 20px;
    padding-bottom: 20px;
}

.pad-bottom {
    padding-bottom: 60px;
}
/*================================
    NAVBAR STYLES
==================================*/
.navbar-default {
    background-color: rgb(35, 133, 161);
    border-color: transparent;
    color: #fff;
}

.navbar-default .navbar-nav > li > a, .navbar-default .navbar-nav > li > a:hover {
    color: #fff;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color:#fff;
}

.container{
  width: 100%;
}
/*================================
    HOME SECTION STYLES
==================================*/
.navbar-brand {
    align-self: center;
}

.brand{
  color: whitesmoke;
  font-size: 1.7em;

}

#home {
    margin-top: 50px;
    padding: 0;
    -webkit-background-size: cover;
    background-size: cover;
    -moz-background-size: cover;
    height: auto;
    width: 100%;
}

/*======================================
    PARALLAX LIKE / STATS SECTION STYLES
=========================================*/

.parallax-like {
    background: url(../img/stats.jpg) no-repeat center center; /* DEFINE IMAGE PATH CAREFULLY*/
    padding: 0;
    -webkit-background-size: cover;
    background-size: cover;
    color: #fff;
    background-attachment: fixed;
}

    .parallax-like .overlay {
        min-height: 200px;
        background: rgba(35, 133, 161,0.9);
        font-size: 40px;
        padding-bottom: 60px;
        padding-top: 60px;
    }

/*================================
    CLIENTS SECTION STYLES
==================================*/

.clients{
  width: 100%;
  padding: 0;
}

/*================================
    FOOTER SECTION STYLES
==================================*/

footer {
    padding: 20px;
    font-size: 15px;
    text-align: center;
    font-weight: 900;
    background-color: rgb(35, 133, 161);
    color: #fff;
}

footer a, footer a:hover {
    color: #fff;
    text-decoration: none;
}

/*================================
            MAP STYLES
==================================*/

#contact-form{
    display: block;
}

#coverup{
  max-height: 100%;
  max-width: auto%;
}

#cover-map{
    height: 100%;
    width: 100%;
}

/*================================
    SERVICES SECTION
==================================*/

.portfolio-item img:hover { /* PORTFOLIO IMAGE BIG ON HOVER */
    cursor: pointer;
    -webkit-transform: scale(1.1, 1.1);
    -ms-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
    transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s; /* Safari */
    z-index: 1;
}

.portfolio-item .col-md-3 img{
    height: 30%;
    width: auto;
}

/*================================
            LOGIN
==================================*/

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
  background-color: #f3f3f3;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
  font: 15px;
  height: auto;
  padding: 10px;
  color:#7e8c8d;
  outline:none;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: 10px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;

}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.form-signin {
  z-index:100;
}

.form-signin select{

  margin-top: 10px;
  margin-bottom: 10px;

}

#login{
  background: #f3f3f3;
  z-index: 100;
}

.btn-primary{
  background: rgb(35, 133, 161);
}

.btn-primary:hover{
  background: #005d6e;
}


/*================================
        SECCIÓN DE CONTACTO
==================================*/
#contact .row{
  width: 100%;
}

.right: {
  float: right;
}

@media screen and ( min-width: 1761px ){
  #contact .row{
    display: inline-flex;
  }

  .contact-info p{
   text-align: right;
  }

  /* Informacion presente antes del Nombre de la Empresa */
  .text-info{
    font-style: oblique;
    color: #646466;
    margin: 0px;
  }

  /* Nombre de la Empresa */
  .gacom{
    color: rgb(35, 133, 161);
    font-weight: bold; 
    font-size: xx-large;
    margin: 10px;
  }

  /* Informacion de Contacto y Dirección de la Empresa */
  .info-address{
    font-style: normal;
    color: #9a9a9d;
    padding: 0px;
    margin: 0px;
    font-size: large;
  }

  .info-address a {
    font-style: normal;
    text-decoration: none;
    color: rgb(35, 133, 161); 
  }
  .info-address a:hover {
    color: #005d6e;
  }

  #logo{
    margin-top: 50px;
  }
}

@media screen and ( max-width: 1760px ){
  .contact-info p{
   text-align: right;
  }

  /* Informacion presente antes del Nombre de la Empresa */
  .text-info{
    font-style: oblique;
    color: #646466;
    margin: 0px;
    font-size: small;
  }

  /* Nombre de la Empresa */
  .gacom{
    color: rgb(35, 133, 161);
    font-weight: bold; 
    font-size: large;
    margin: 10px;
  }

  /* Informacion de Contacto y Dirección de la Empresa */
  .info-address{
    font-style: normal;
    color: #9a9a9d;
    padding: 0px;
    margin: 0px;
    font-size: small;
  }

  .info-address a {
    font-style: normal;
    text-decoration: none;
    color: rgb(35, 133, 161); 
  }
  .info-address a:hover {
    color: #005d6e;
  }
}

@media screen and (max-width: 4010px ){

  .contact-info p{
   text-align: right;
  }

  /* Informacion presente antes del Nombre de la Empresa */
  .text-info{
    font-style: oblique;
    color: #646466;
    margin: 0px;
    font-size: x-small;
  }

  /* Nombre de la Empresa */
  .gacom{
    color: rgb(35, 133, 161);
    font-weight: bold; 
    margin: 10px;
  }

  /* Informacion de Contacto y Dirección de la Empresa */
  .info-address{
    font-style: normal;
    color: #9a9a9d;
    padding: 0px;
    margin: 0px;
    font-size: x-small;
  }

  .info-address a {
    font-style: normal;
    text-decoration: none;
    color: rgb(35, 133, 161); 
  }
  .info-address a:hover {
    color: #005d6e;
  }

  #mapa{
     padding-top: 17%;
  }
  #message{
     padding-top: 0%;
  }

}
@media screen and (max-width: 990px) {
  #logo-img {
    width: 45%;
    margin: auto;
    }
    #intro-div{
      border-left: 0px;
      border-right: 0px;
      border-top: 2px solid rgba(0, 0, 0, 0.18);
      border-bottom: 2px solid rgba(0, 0, 0, 0.18);
    }
    #cobertura-list{
      display: none;
    }
    #mapa{
     padding-top: 17%;
    }
    #message{
     padding-top: 0%;
    }
}
@media screen and (min-width: 990px) {
  #logo-img {
    width: 45%;
    margin: auto;
    }
    #intro-div{
      border-left: 0px;
      border-right: 0px;
      border-top: 2px solid rgba(0, 0, 0, 0.18);
      border-bottom: 2px solid rgba(0, 0, 0, 0.18);
    }
    #cobertura-list{
      display: none;
    }
    #mapa{
      padding-top: 7%;
    }
    #message{
      padding-top: 5%;
    }
}
/*.brand-img{
  background-image: url('../img/logoInfo.png') no-repeat center;
}*/
#home{
  padding-top: .7%;
}
#home-row {
  background-image: url('../img/FONDOencabezado.png');
  background-repeat: no-repeat;
  background-size: 100%;
  position: relative;
}
.row{
  margin-right: 0px; 
  margin-left: 0px;
}
#logo-row{
  margin-top: 0px;
}
#logo-img{
  width: 60%;
  margin:auto;
}
.textAv{
  font-family: 'Avenir Next';
  src: url("http://www.yoursite.com/fonts/Avenir_Next.otf");
}
#title-text{
  font-weight: normal;
  font-size: 24;
  color: #FFFFFF;
  padding-top: 3%;
  padding-bottom: 3%;
}
#sub-home{
   background-color: rgba(0,78,96,0.60);

}
#text-divs{
  color: #002E3C;
  font-size: 18;
  background-color: #ffffff;
  opacity: 0.6;
  filter: alpha(opacity=60);
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  text-align: center;
}

#intro-div{
  color: #002E3C;
  font-size: 18;
  background-color: #ffffff;
  opacity: 0.8;
  filter: alpha(opacity=80);
  border-left: 2px solid rgba(0, 0, 0, 0.18);
  border-right: 2px solid rgba(0, 0, 0, 0.18);
}
#text-divs div{
  padding: 2%;
}
#coverup{
  padding-top: 5%;
  padding-bottom: 20%;
}

#cobertura-div{
  background-color:#b6c9d0; 
  color: #03384a;
}
#cobertura-div span{
  font-size: 300%;
  font-weight: 600; 
  padding: 3%;
}
#services-row img{
  width: 80%;
  margin: auto;
  padding-top: 3%;
}
#cobertura-list ul li{
  color:#529095;
  font-size: 15;
  border: none;
  padding: 1.8px 15px;
}
#cobertura-list ul li:hover{
  color:#0d3942;
  cursor: pointer;
}

#fondo-div{
  background-image: url('../img/FONDOcentral.png');
  background-repeat: no-repeat;
  background-size: 100%;
  position: relative;
}
#message .row{
  padding-top: 8%;
  padding-bottom: 10%;
}
#message span{
  font-size: 30;
  color: white;
  text-align: center;
}
#sub-fondo-div{
  background-color: rgba(0,78,96,0.70);
}
#clients{
  background-image: url('../img/FONDOclientes.png');
  background-repeat: no-repeat;
  background-size: 100%;
  position: relative;
}
#sub-client{
  background-color: rgba(0,78,96,0.70);
}
#clientes1 div{
  padding-top: 2%;
}
#clientes2 div{
  padding-top: 2%;
  padding-bottom: 2%;
}
