
/*=============================================================
    Authour URL: www.designbootstrap.com

    http://www.designbootstrap.com/

    License: MIT

    http://opensource.org/licenses/MIT

    100% Free To use For Personal And Commercial Use.

    IN EXCHANGE JUST TELL PEOPLE ABOUT THIS WEBSITE
   
========================================================  */


@font-face
{
   font-family: "AvenirPersonalizada";
   src: url("../fonts/AvenirNextLTPro-Regular.eot?#iefix") format('embedded-opentype'),
         url('../fonts/AvenirNextLTPro-Regular.woff') format('woff'), 
         url('../fonts/AvenirNextLTPro-Regular.ttf')  format('truetype');
}
/*@font-face
{
   font-family: "AvenirBold";
   src: url("../fonts/AvenirNextLTPro-Bold.otf");
}
@font-face
{
   font-family: "AvenirIt";
   src: url("../fonts/AvenirNextLTPro-It.otf");
   font-style: 'Italic';
}
@font-face
{
   font-family: "AvenirPersonalizada_IE";
   src: url("../fonts/AvenirNextLTPro-Regular.eot");
}*/
@font-face
{
   font-family: "AvenirBold";
   src: url("../fonts/AvenirNextLTPro-Bold.eot?#iefix") format('embedded-opentype'),
        url('../fonts/AvenirNextLTPro-Bold.woff') format('woff'), 
        url('../fonts/AvenirNextLTPro-Bold.ttf')  format('truetype');
}
@font-face
{
   font-family: "AvenirIt";
   src: url("../fonts/AvenirNextLTPro-It.eot#iefix") format('embedded-opentype'),
   font-style: 'Italic';
}


/*================================
    GENERAL STYLES
==================================*/
body {
    font-family: AvenirPersonalizada, AvenirPersonalizada_IE;
    width: 100%;
}

section {
    padding-top: 80px;
    padding-bottom: 80px;
}

.head-set {
    padding-top: 20px;
    padding-bottom: 20px;
}

.pad-bottom {
    padding-bottom: 60px;
}
/*================================
    NAVBAR STYLES
==================================*/
.navbar-default {
    background-color: rgb(35, 133, 161);
    border-color: transparent;
    color: #fff;
}

.navbar-default .navbar-nav > li > a, .navbar-default .navbar-nav > li > a:hover {
    color: #fff;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color:#fff;
}

.container{
  width: 100%;
}
/*================================
    HOME SECTION STYLES
==================================*/
.navbar-brand {
    align-self: center;
}

.brand{
  color: whitesmoke;
  font-size: 1.7em;

}

#home {
    margin-top: 50px;
    padding: 0;
    -webkit-background-size: cover;
    background-size: cover;
    -moz-background-size: cover;
    height: auto;
    width: 100%;
}

/*======================================
    PARALLAX LIKE / STATS SECTION STYLES
=========================================*/

.parallax-like {
    background: url(../img/stats.jpg) no-repeat center center; /* DEFINE IMAGE PATH CAREFULLY*/
    padding: 0;
    -webkit-background-size: cover;
    background-size: cover;
    color: #fff;
    background-attachment: fixed;
}

    .parallax-like .overlay {
        min-height: 200px;
        background: rgba(35, 133, 161,0.9);
        font-size: 40px;
        padding-bottom: 60px;
        padding-top: 60px;
    }

/*================================
    CLIENTS SECTION STYLES
==================================*/

.clients{
  width: 100%;
  padding: 0;
}

/*================================
    FOOTER SECTION STYLES
==================================*/

footer {
    padding: 20px;
    font-size: 15px;
    text-align: center;
    font-weight: 900;
    background-color: rgb(35, 133, 161);
    color: #fff;
}

footer a, footer a:hover {
    color: #fff;
    text-decoration: none;
}

/*================================
            MAP STYLES
==================================*/

#contact-form{
    display: block;
}

#coverup{
  max-height: 100%;
  max-width: auto%;
}

#cover-map{
    height: 100%;
    width: 100%;
}

/*================================
    SERVICES SECTION
==================================*/

.portfolio-item img:hover { /* PORTFOLIO IMAGE BIG ON HOVER */
    cursor: pointer;
    -webkit-transform: scale(1.1, 1.1);
    -ms-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
    transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s; /* Safari */
    z-index: 1;
}

.portfolio-item .col-md-3 img{
    height: 30%;
    width: auto;
}

/*================================
            LOGIN
==================================*/

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
  background-color: #f3f3f3;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
  font: 15px;
  height: auto;
  padding: 10px;
  color:#7e8c8d;
  outline:none;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: 10px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;

}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.form-signin {
  z-index:100;
}

.form-signin select{

  margin-top: 10px;
  margin-bottom: 10px;

}

#login{
  background: #104b5c;
  z-index: 100;
}

.btn-primary{
  background: rgb(35, 133, 161);
}

.btn-primary:hover{
  background: #005d6e;
}


/*================================
        SECCIÓN DE CONTACTO
==================================*/
#contact .row{
  width: 100%;
}

.right: {
  float: right;
}

@media screen and ( min-width: 1761px ){
  #contact .row{
    display: inline-flex;
  }

  .contact-info p{
   text-align: right;
  }

  /* Informacion presente antes del Nombre de la Empresa */
  .text-info{
    font-style: oblique;
    color: #646466;
    margin: 0px;
    font-size: 21;
  }

  /* Nombre de la Empresa */
  


}

@media screen and ( max-width: 1760px ){
  .contact-info p{
   text-align: right;
  }

  /* Informacion presente antes del Nombre de la Empresa */
  .text-info{
    font-style: oblique;
    color: #646466;
    margin: 0px;
    font-size: small;
  }

  /* Nombre de la Empresa */
  
}
/*Pantalla SM*/
@media screen and (max-width: 4010px ){

  .contact-info p{
   text-align: right;
  }

  /* Informacion presente antes del Nombre de la Empresa */
  .text-info{
    font-style: oblique;
    color: #646466;
    margin: 0px;
    font-size: x-small;
  }


  /* Nombre de la Empresa */
  

  #mapa{
     padding-top: 17%;
  }
  #message{
     padding-top: 0%;
  }

}
/* Pantalla Chica*/
@media screen and (max-width: 990px) {
    .map-iframe{
    display:'none';
  }
  #services-row img{
  width: 60%;
  margin: auto;
  padding-top: 3%;
}
  #services2-row img{
  width: 60%;
  margin: auto;
  padding-top: 3%;
}
#home-row {
  background-image: url('../img/FONDO2.png');
  background-repeat: no-repeat;
  background-size: 100%;
  position: relative;
  height: 50%;
}
  #cobertura-list{
    display:'block';
  }
    #intro-div{
      border-left: 0px;
      border-right: 0px;
      border-top: 1px solid #104b5c;
      border-bottom: 1px solid #104b5c;
    }
    #cobertura-list{
      display: none;
    }
    #mapa{
     padding-top: 17%;
    }
    #message{
     padding-top: 0%;
    }

    .gacom{
    color: rgb(35, 133, 161);
    font-weight: bold; 
    margin-top: 58px;
    margin-right: 0px;
    margin-bottom: -5px;
  }
  #text-divs{
  color: #002E3C;
  font-size: 18;
  background-color: #ffffff;
  opacity: 0.6;
  filter: alpha(opacity=60);
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  text-align: center;
}
.titulo-text{
      font-family: 'AvenirBold', 'AvenirBold_IE ';
    }
#text-divs{
  color: #002E3C;
  font-size: 18;
  background-color: #ffffff;
  opacity: 0.6;
  filter: alpha(opacity=60);
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  text-align: center;
}
#login-modal .modal-content{
  background-color: #104b5c;
  color: white;
}

  /* Informacion de Contacto y Dirección de la Empresa */
  .info-address{
    font-style: normal;
    color: #9a9a9d;
    padding: 0px;
    margin: 0px;
    font-size: 20px;
    line-height: 22px;
  }

  .info-address a {
    font-style: normal;
    text-decoration: none;
    color: rgb(35, 133, 161); 
  }
  .info-address a:hover {
    color: #005d6e;
  }
  #presentacion{
    text-align: right;
    padding-top: 15%;
  }
  #logo{
      width: 68%;
      margin-left: 19%;
  }
  .info-text {
     font-family: "AvenirIt", "AvenirIt_IE";
    font-size: 14px;
    color: #646466;
    line-height: 7px;
  }
  .gacom{
    color: rgb(35, 133, 161);
    font-weight: bold; 
    margin-top: 29px;
    margin-right: 0px;
    margin-bottom: -5px;
    font-size: 29px;
  }

  /* Informacion de Contacto y Dirección de la Empresa */
  .info-address{
    font-style: normal;
    color: #9a9a9d;
    padding: 0px;
    margin: 0px;
    font-size: 16px;
    line-height: 22px;
  }

  .info-address a {
    font-style: normal;
    text-decoration: none;
    color: rgb(35, 133, 161); 
  }
  .info-address a:hover {
    color: #005d6e;
  }
  #text-area{
    padding-top: 10%;
  }
  #message span{
    font-size: 18px;
    color: white;
    text-align: center;
  }
  #coverup{
    padding-top: 13%;
    padding-bottom: 20%;
  }
  #title-text{
    font-weight: normal;
    font-size: 16;
    color: #FFFFFF;
    padding-top: 3%;
    padding-bottom: 3%;
  }
  #logo-img {
    width: 51%;
    margin: auto;
  }
  .txt-map{
    font-size: 11px;
    color: #a6a6a7;
    font-weight: 100;
  }
  .txt2-map{
    font-size: 14px;
    color: #104b5c;
  }
  #list-div{
    top: 0px;
    position: absolute;
    right: 18px;
  }
}
/*Pantalla Gde*/
@media screen and (min-width: 990px) {
    #logo{
      width: 93%;
  }
  #login-modal-col{
    padding-top: 6.5%;
  }
  #services-row img{
  width: 60%;
  margin: auto;
  padding-top: 3%;
}
 #services2-row img{
  width: 60%;
  margin: auto;
  padding-top: 3%;
}
#login-modal {
  padding-left: 15%;
  padding-right: 10%;
}
#login-modal .modal-content{
  background-color: #104b5c;
  color: white;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
}
#login-modal .modal-title{
  font-weight: 100;
}
#indice-clientes{
  padding-top: 2%;
}
#map_canvas {
    width: 100%;
    height: 400px;
    background-color: #CCC;
}
  #logo-img {
    width: 60%;
    margin: auto;
  }
  .map-iframe{
    display:'block';
    padding-top: 0px;
    padding-bottom: 0px;
  }
  #table-map{
    position: absolute;
    top: 25%;
    right: 6%;
    width: 300px;
  }
  #titulo-map{
    color: white;
  }
  #conteo-map{
    color: gray;
    font-family: 'AvenirIt', 'AvenirIt_IE';
  }
  #titulo-map-div{
    background-color: #0d404f;
    padding: 10px;
    box-shadow: 4px 4px 5px 0 black;
  }

  #tabla-emisora{
    top:10px;
  }

  #table-tb{
    color:white;
  }

  #table-tb tbody tr td{
    padding: 0px;
    border-top: none; 
  }

  #cobertura-list{
    display:'none';
  }
  #services-row{
    padding-top: 5%;
    padding-bottom: 5%;
  }
    #intro-div{
      border-left: 1px solid #104b5c;
      border-right: 1px solid #104b5c;
      border-bottom: none;
      border-top: none;
    }
    .titulo-text{
      font-family: 'AvenirBold', 'AvenirBold_IE';
    }
    #cobertura-list{
      display: none;
    }
    #mapa{
      padding-top: 7%;
    }
    #message{
      padding-top: 5%;
    }
    #cobertura-list{
      display: block;
    }
    .gacom{
    color: rgb(35, 133, 161);
    font-weight: bold; 
    margin-top: 58px;
    margin-right: 0px;
    margin-bottom: -5px;
    font-size: 29px;
    font-family: 'AvenirBold', 'AvenirBold_IE';
  }

  /* Informacion de Contacto y Dirección de la Empresa */
  .info-address{
    font-style: normal;
    color: #9a9a9d;
    padding: 0px;
    margin: 0px;
    font-size: 20px;
    line-height: 22px;
  }

  .info-address a {
    font-style: normal;
    text-decoration: none;
    color: rgb(35, 133, 161); 
  }
  .info-address a:hover {
    color: #005d6e;
  }
  #presentacion{
    text-align: right;
    padding-top: 1%;
  }

  .info-text{
  font-family: "AvenirIt", "AvenirIt_IE";
  font-size: 18;
  color: #646466;
  line-height: 10px;
  }
  #text-area{
    padding-top: 0%;
  }
  #message span{
    font-size: 30px;
    color: white;
    text-align: center;
  }
  #coverup{
    padding-top: 5%;
    padding-bottom: 20%;
  }
  #title-text{
    font-weight: normal;
    font-size: 24;
    color: #FFFFFF;
    padding-top: 3%;
    padding-bottom: 3%;
  }
 .txt-map{
    font-size: 18px;
    color: #a6a6a7;
    font-weight: 100;
  }
  .txt2-map{
    font-size: 20px;
    color: #104b5c;
  }
  #list-div{
    top: 0px;
    position: absolute;
    right: 0px;
  }
  #text-divs{
  color: #002E3C;
  font-size: 18;
  background-color: #ffffff;
  opacity: 0.6;
  filter: alpha(opacity=60);
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  text-align: center;
  height: 267px;
}
#intro-div-2{
  height: 100%;
}


}

/*Pantalla xGde*/
@media screen and (min-width: 1500px) {
    #login-modal-col{
        padding-top:9.5%;
    }
}

/*.brand-img{
  background-image: url('../img/logoInfo.png') no-repeat center;
}*/
#home{
  padding-top: .7%;
}
#home-li > a{
  background-color: #104b5c;
}
#coverup-li > a{
  background-color: #336b7e;
}
#services-li > a{
  background-color: #418092;
}
#clientes-li > a{
  background-color: #458fa5;
}
#contact-li > a{
  background-color: #4e9eb5;
}
#sistema-li > a{
  background-color: #307386;
}

#home-row {
  background-image: url('../img/FONDO2.png');
  background-repeat: no-repeat;
  background-size: 100%;
  position: relative;
  height: 57%;
}
.row{
  margin-right: 0px; 
  margin-left: 0px;
}

#logo-row{
  margin-top: 0px;
}
.textAv{
  font-family: 'AvenirPersonalizada', 'AvenirPersonalizada_IE';
 /* src: url("http://www.yoursite.com/fonts/Avenir_Next.otf");*/
}

#sub-home{
  /* background-color: rgba(0,78,96,0.60);*/

}


#text-divs {
 /* padding: 2%;*/
  background-color:#a1babd; 
 /* border-left: 1px solid #104b5c;*/
}
#text-divs div{
  padding: 2%;
  background-color:#a1babd; 
 /* border-left: 1px solid #104b5c;*/
}


#cobertura-div{
  background-color:#ffffff; 
  color: #03384a;
}
#cobertura-div span{
  font-size: 300%;
  font-weight: 600; 
  padding: 3%;
}

#services-row2 img{
  width: 60%;
  margin: auto;
  padding-top: 3%;
}
#services-row2 {
  padding-top: 10%;
  padding-bottom: 10%;
}
#cobertura-list ul li{
  color:#529095;
  font-size: 15;
  border: none;
  padding: 1.8px 15px;
  margin-bottom:-4px;
}
#cobertura-list ul li:hover{
  color:#0d3942;
  cursor: pointer;
}

#fondo-div{
  background-image: url('../img/FONDOcentral.png');
  background-repeat: no-repeat;
  background-size: 100%;
  position: relative;
}
#message .row{
  padding-top: 8%;
  padding-bottom: 10%;
}

#sub-fondo-div{
  background-color: rgba(0,78,96,0.70);
}
#clients{
  /*background-image: url('../img/FONDOclientes.png');*/
  background-repeat: no-repeat;
  background-size: 100%;
  position: relative;
  /*height: 100%;*/
}
#sub-client{
  background: url('../img/FONDOclientes.png');
  background-size: 100%;
  
}
#clientes1 div{
  padding-top: 2%;
}
#clientes2 div{
  padding-top: 2%;
  padding-bottom: 2%;
}
#info{
  font-size: 18;
}
#map-col{
  position: relative;
}
.verticalLine {
    border-left: thick solid #104b5c;
    padding-left: 5px;
}
.header-cobertura{
  height: 70px;
  margin: auto;
}
#contact{
  padding-top: 1%;
  padding-bottom: 20%;
}
#row-contact{
  padding-top: 5%;
}
#services{
  padding-top: 1%;
}
#cliente{
  padding-top: 1%;
}

/*Eventos*/
.container_ {
  width: 200px;
  height: 200px;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 20px;
}
.div-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.div-img .img {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  transform: scale(1);
  -ms-transform: scale(1);
  -moz-transform: scale(1);
  -webkit-transform: scale(1);
  -o-transform: scale(1);
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  -ms-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
}
.div-img .text {
  padding-top: 5px;
  display: block;
  text-align: center;
  width: 100%;
  transform: translate(0px);
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  -ms-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
  opacity: 0;
  transition: transfom opacity 1.5s;
}
.div-img:hover .img {
  transform: scale(1.3);
  -ms-transform: scale(1.3);
  -moz-transform: scale(1.3);
  -webkit-transform: scale(1.3);
  -o-transform: scale(1.3);
}
.div-img:hover .text {
  transform: translate(0px, -20px);
  opacity: 1;
}

#text-divs div:hover {
  background-color: #104b5c;
  color: white;
}
#mail{
  color: #2385a1;
  font-family: 'AvenirIt', 'AvenirIt_IE';
  font-size: 15px;
}
#myModal2 .modal-body{
  font-family: "AvenirPersonalizada", "AvenirPersonalizada_IE";
  padding: 15px;
  font-size: 16px;
}
#myModal2 #title{
  font-family: "AvenirBold", "AvenirBold_IE ";
  color: #5e5e5f;
}
#myModal2 ol li{
  padding-top: 15px;
}
.title-bold{
  font-family: "AvenirBold", "AvenirBold_IE";
}
.d3-tip {
        line-height: 1;
        font-weight: bold;
        padding: 12px;
        background: black;
        color: #fff;
        border-radius: 2px;
        opacity: 0.001%;
      }
  .d3-tip:after {
    box-sizing: border-box;
    display: inline;
    font-size: 10px;
    width: 100%;
    line-height: 1;
    color: black;
    content: "\25BC";
    position: absolute;
    text-align: center;
    opacity: 0.001%;
  }

  .d3-tip.n:after {
    margin: -1px 0 0 0;
    top: 100%;
    left: 0;
    opacity: 0.001%;
  }
#tooltip-container {
  position: absolute;
  background-color: #fff;
  color: #000;
  padding: 10px;
  border: 1px solid;
  display: none;
  width: 150px;
  color: black;
}
.tooltip_key {
  font-weight: bold;
}

.tooltip_value {
  margin-left: 20px;
  float: right;
}

